# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log

# Build output
dist/
build/

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

.wrangler/

.dev.vars*
!.dev.vars.example
!.env.example
